 body {
  text-align:center;
  background: #ccc;
}

#nudge {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

#controls {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

#dip_season {
  margin-top: 10px;
}

#spring {
  width: 35px;
}

 #fall {
  width: 35px;
} 

input {
  border: 0px;
}

input:hover {
  background: #ee0;
}
